{% extends 'forum/base.html' %}
 {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'forum/calendar.css' %}">
    {% endblock %}
{% block body%}
  <div class="clearfix">
	<a class="btn btn-info left" href="{% url 'forum:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'forum:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'forum:add-event' %}"> New Event </a>
</div>
{{ calendar }}
{% endblock %}